/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	background: #333333;
	padding-top: 4.19rem;

	.footer__callout {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #707070;
		padding-bottom: 4.81rem;

		@media(max-width:$responsive-xs) {
			flex-direction: column;
			align-items: center;
		}	/* 767px */

		@media(max-width:$responsive-xxs) {
			flex-direction: column;
			align-items: flex-start;
		}	/* 479px */

		.footer__content {
			width: 52%;

			@media(max-width:$responsive-xs) {
				width: 100%;
				text-align: center;
				margin-bottom: 2rem;
			}	/* 767px */

			@media(max-width:$responsive-xxs) {
			text-align: left;
			
			}	/* 479px */

			h4 {
			color: #fff;
			font-weight: 400;
			margin-bottom: 1rem; 
			}

			p {
			color: #707070;
			}
		}

		.footer__actions {
			min-width: 350px;
			display: flex;
			justify-content: space-between;
		}
	}

	.footer__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 4.69rem;
		border-bottom: 1px solid #707070;
		padding-bottom: 4rem;

		@media(max-width:$responsive-sm) {
			flex-direction: column;
		}	/* 1023px */

		@media(max-width:$responsive-xxs) {
				justify-content: flex-start;
		}	/* 479px */

		.footer__logo {
			width: 23%;

			@media(max-width:$responsive-sm) {
				width: 100%;
				text-align: center;
			}	/* 1023px */

			@media(max-width:$responsive-xxs) {
				text-align: left;
			}	/* 479px */

			a p {
					color: #fff;
					margin-bottom: 1.88rem;
			}

			p {
				color: #707070;	
				line-height: 2rem;
			}
		}

		.footer__contacts {
			width: 18%;

			@media(max-width:$responsive-sm) {
				width: 100%;
				text-align: center;
			}	/* 1023px */

			@media(max-width:$responsive-xxs) {
				text-align: left;
			}	/* 479px */

			span p {
				line-height: 2rem;
				text-transform: uppercase;
				color: #6483F6;
				font-weight: 700; 
				margin-bottom: 2rem;
			}

			p {
				color: #fff;
				line-height: 2rem;
			}
		}

		.form-contact {
			margin-top: -0.5rem;
			width: 32%;
			max-width: 370px;

			@media(max-width:$responsive-sm) {
				width: 100%;
				text-align: center;
			}	/* 1023px */

			@media(max-width:$responsive-xxs) {
				text-align: left;
				margin-top: 2rem;
			}	/* 479px */

			p {
				line-height: 2rem;
				text-transform: uppercase;
				color: #6483F6;	
				font-weight: 700; 
			}

			form {
				display: flex;
				justify-content: space-between;
				margin-top: 2.19rem;

				.form__body {
					width: 69%;
					input {
						width: 100%;
						border: none;
						color: red;
						padding: 0.9rem;
						border-radius: 8px;
					}
				}

				.form__actions {
					width: 27%;
					input {
						width: 100%;
						font-weight: 700; 
					color: #fff;
					background: #6483F6;
					font-size: 1.13rem; 
					line-height: 1.5rem;
					border:none;
					border-radius: 8px;
					padding: 0.75rem 1.19rem;

						&:hover {
							background: #FACE55;
							color: #000;
						}
					}
				}
			}
		}
	}

	.footer__bar {
			display: flex;
			justify-content: space-between;
			line-height: 2rem; 
			padding-top: 50px;

			@media(max-width:$responsive-xs) {
				flex-direction: column;
				align-items: center;
			}	/* 767px */

			.footer__links {
				display: flex;
				justify-content: space-between;
				width: 33%;
				color: #fff;

				@media(max-width:$responsive-xs) {
					width: 100%;
					justify-content: space-around;
				}	/* 767px */
			}

			.footer__copyrights {
				color: #707070;
			}
		}
}
