/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	font-size: 2.5rem; 
	line-height: 3rem;

	&--white {
		color: #fff;
	}
}
