/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {

	.section__content {
		width: 40%;

		.section__head {
			margin-bottom: 0.88rem;

			p {
			line-height: 2rem;
			font-weight: 700; 
			color: #6483F6;
			text-transform: uppercase;
			margin-bottom: 1.94rem;
			}
		}

		.section__body {
			margin-bottom: 2.35rem;

			p {
			text-transform: none;
			font-weight: 400; 
			color: #C1C1C1;
			margin-top: 1.1rem;
			line-height: 2rem;
			}
		}
	}

	.section__ornament-circle{
		border: 4px solid #F07867;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: inline-block;
	}
	.section__ornament-dot{
		background: #6382F5;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		display: inline-block;
	}

	.section__images {
		width: 49%;
		max-width: 570px;
	}

	&--about {		
		padding-top: 7.8rem;
		padding-bottom: 6rem;

		@media(max-width:$responsive-sm) {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}	/* 1023px */

		.shell {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media(max-width:$responsive-sm) {
				flex-direction: column;
			}	/* 1023px */
		}

		.section__content {
			margin-top: 3.8%;

			@media(max-width:$responsive-sm) {
				width: 88%;
				margin: auto;
				margin-top: 15%;
				text-align: center;
			}	/* 1023px */
			
			@media(max-width:$responsive-xxs) {
				width: 88%;
				margin: auto;
				margin-top: 15%;
				text-align: left;
			}	/* 479px */

			h2 {
				@media(max-width:$responsive-xxs) {
					font-size: 2.5rem; 
					line-height: 3rem;
				}	/* 479px */
			}

		}

		.section__images {
			position: relative;
			margin-left: 1.9%;

			@media(max-width:$responsive-sm) {
				top: 0;
			}	/* 1023px */

			& img:first-child {
				position: absolute;
				top: 30.1%;
				z-index: 6;
				left: -3.6%;

				@media(max-width:$responsive-xs) {
					width: 40%;
					height: 30%;
				}	/* 767px */
			}

			& img:nth-child(2) {
				position: absolute;
				top: 80%;
				left: -3%;
				z-index: -4;
			}	

			& img:nth-child(3) {
				position: relative;
				z-index: 5;
			}

			& img:nth-child(4) {
				position: absolute;
				top: 10.8%;
				left: 58.2%;
				z-index: -4;
			}
			
			& img:nth-child(5) {
				position: absolute;
				top: 15.2%;
				left: 14%;
				z-index: -3;
			}

			& img:last-child {
				position: absolute;
				top: 57.5%;
				left: 70.8%;
				z-index: 6;
				@media(max-width:$responsive-xs) {
					width: 30%;
					height: 40%;
				}	/* 767px */
			}
		}		
	}

	&--services {
		padding-top: 3.7rem;
		padding-bottom: 11.94rem;

		.shell {
			display: flex;
			justify-content: space-between;
			align-items: center;	

			@media(max-width:$responsive-sm) {
				flex-direction: column;
			}	/* 1023px */
		}

		.section__content {
			margin-top: 2.56rem;
			margin-left: 0.09rem;

			@media(max-width:$responsive-sm) {
				width: 85%;
				text-align: center;
			}	/* 1023px */

			@media(max-width:$responsive-xxs) {
					text-align: left;
				}	/* 479px */

			h2 {
				@media(max-width:$responsive-xxs) {
					font-size: 2.5rem; 
					line-height: 3rem;
				}	/* 479px */
			}

			& .section__foot{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: -1.19rem;

				img {
					background: #F28A4B;
					padding: 1.94rem 1.5rem;
					border-radius: 50%;
					margin-right: 2.13rem;
				}

				p {
					text-transform: none;
					font-weight: 400; 
					color: #C1C1C1;
					margin-top: 1.1rem;
					line-height: 2rem;
				}
			}
		}

		.section__images {
			position: relative;
			
			& img:first-child {
				position: absolute;
				top: 37.7%;
				left: 0.5%;
				z-index: 10;	
			
				@media(max-width:$responsive-xs) {
					width: 30%;
					height: 20%;
				}	/* 767px */

			}

			& img:nth-child(2) {
				position: absolute;
				top: 15.2%;
				left: 18%;
			}	

			& img:nth-child(3) {
				position: absolute;
				top: 80.3%;
				left: -3%;
			}

			& img:nth-child(4) {
				position: relative;
			}

			& img:nth-child(5) {
				position: absolute;
				top: 10.6%;
				left: 62.8%;
				z-index: -2;
			}

			& img:nth-child(6) {
				position: absolute;
				background: #F07867;
				padding: 2.60rem;
				border-radius: 50%;
				top: 58.5%;
				left: 68.5%;

				@media(max-width:$responsive-xs) {
					padding: 1rem;
					width: 40%;
				}	/* 767px */
			}

			.section__ornament {
				img {
					position: absolute;
					left: 91.5%;
					top: 28%;
				}

				& .section__ornament-circle{
					border: 4px solid #F07867;
					width: 35px;
					height: 35px;
					border-radius: 50%;
					position: absolute;
					top: 60%;
					left: 8%;
					z-index: -5;
				}

				& .section__ornament-dot{
					background: #6382F5;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					position: absolute;
					top: 49.8%;
					left: 88.5%;
				}
			}
		}		
	}

	&--courses {
		padding-top: 5.7rem;
		padding-bottom: 7rem;

		.section__content {
			width: 100%;
			margin-bottom: 2.6rem;

			@media(max-width:$responsive-sm) {
				text-align: center;
			}	/* 1023px */

			@media(max-width:$responsive-xxs) {
						width: 80%;
						text-align: left;
						margin: auto;
			}	/* 479px */	

			h2 {
				font-size: 2.5rem; 
				line-height: 3rem;

				@media(max-width:$responsive-xs) {
					font-size: 2.5rem; 
				}	/* 767px */
			}

			.section__body {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: -0.9rem;

			@media(max-width:$responsive-sm) {
				flex-direction: column;
				text-align: center;
			}	/* 1023px */

			@media(max-width:$responsive-xxs) {
				text-align: left;
			}	/* 479px */	

				p {
					width: 49%;

					@media(max-width:$responsive-sm) {
						width: 100%;
						margin: auto;
						margin-top: 2rem;
					}	/* 1023px */

					@media(max-width:$responsive-xxs) {
						margin: 0;
			}		/* 479px */	
				}

				.form-search {
					width: 32%;
					margin-top: 1.8%;
					max-width: 370px;

					@media(max-width:$responsive-sm) {
						width: 50%;
						margin: auto;
						margin-top: 2rem;
					}	/* 1023px */

					@media(max-width:$responsive-xxs) {
						width: 100%;
					}	/* 479px */	
					

					form {
						display: flex;
						justify-content: space-between;

						.form__body {
							width: 77%;
							input {
								height: 48px;
								padding-left:16px;
								border-radius: 8px;
								border: 1px solid #DADADA;	
								width: 100%;
							}
						}

						.form__actions {
							position: relative;
							

							&:before {
								content: ('');
								width: 16px;
								height: 16px;
								background-image: url("../css/images/icons/search.png"); 
								display: inline-block;
								position: absolute;
								top: 50%-16;
								left: 50%-8;
							}

							input {
								background: #6483F6;
								width: 70px;
								height: 48px;
								border: none;
								border-radius: 8px;

								&:hover {
								background: #FACE55;
								}
							}
						}
					}
				}
			}
		}

		.section__offers {
			.courses {
				display: flex;
				justify-content: space-between;
				list-style: none;
				flex-wrap: wrap;

				@media(max-width:$responsive-sm) {
					justify-content: space-around;
				}	/* 1023px */

				

				.course {
					width: 31.5%;
					border-radius: 8px;
					margin-bottom: 1.86rem;
					overflow: hidden;

					@media(max-width:$responsive-sm) {
						width: 35%;
					}	/* 1023px */

					@media(max-width:$responsive-xs) {
						width: 51%;
					}	/* 767px */		

					@media(max-width:$responsive-xxs) {
						width: 80%;
					}	/* 479px */							

					.course__image-main { 
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 1rem 1rem 12.1rem 2rem;

						p {
							color: #fff;
							font-size: 0.75rem; 
							font-weight: 700; 
							text-transform: uppercase;
						}

						img {
							background: #fff;
							border-radius: 50%;
							padding: 1rem;
						}

						&--1 {
							background-image: url("../css/images/temp/library-1.png"); ;
							background-repeat: no-repeat;
							background-size: auto;
							box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
						}

						&--2 {
							background-image: url("../css/images/temp/library-2.png"); ;
							background-repeat: no-repeat;
							background-size: auto;
							box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
						}

						&--3 {
							background-image: url("../css/images/temp/library-3.png"); ;
							background-repeat: no-repeat;
							background-size: auto;
							box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
						}

						&--4 {
							background-image: url("../css/images/temp/library-4.png"); ;
							background-repeat: no-repeat;
							background-size: auto;
							box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
						}

						&--5 {
							background-image: url("../css/images/temp/library-5.png"); ;
							background-repeat: no-repeat;
							background-size: auto;
							box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
						}

						&--6 {
							background-image: url("../css/images/temp/library-6.png"); ;
							background-repeat: no-repeat;
							background-size: auto;
							box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
						}

						img {
							align-self: center;
						}
					}

					.course__content {
						background: #FDF0E9;
						padding-top: 1.56rem;
						padding-bottom: 1.8rem;

						.course__head {
							max-width: 306px;
							margin: 0 auto;
							margin-bottom: 1.44rem;

							h5 {
							font-weight: 400; 

							@media(max-width:$responsive-sm) {
								font-size: 1.25rem; 
								text-align: center;
							}	/* 1023px */
							}
						}

						.course__body {
							max-width: 306px;
							margin: 0 auto;
							background: #fff;
							border-radius: 8px;

							.course__users {
								width: 90%;
								margin: 0 auto;
								display: flex;
								justify-content: space-between;
								padding-top: 1.06rem;
								padding-bottom: 0.08rem;
								margin-bottom: 0.94rem;
								border-bottom: 1px solid #EFDED5;

								p {
									&:before{
										content: ('');
										width: 13px;
										height: 16px;
										display: inline-block;
										background-image: url("../css/images/icons/user.png"); 
										margin-right: 0.75rem;
									}
								}

								p + p{
									&:before{
										content: ('');
										width: 15px;
										height: 18px;
										display: inline-block;
										background-image: url("../css/images/icons/time.png"); 
										margin-right: 0.75rem;
									}
								}
							}

							.course__author {
								width: 90%;
								display: flex;
								align-items: center;
								margin: 0 auto;
								padding-bottom: 1.13rem;

								.course__name {
									margin-left: 1rem;

									p {
										font-size: 1.25rem; 
										line-height: 2rem;
										margin-bottom: -0.13rem;
									}

									p + p {
										font-size: 0.88rem; 
										line-height: 1.5rem;
										color: #707070;
										margin-top: -0.13rem;
									}
								}
							}
						}

						.course__foot {
							max-width: 306px;
							margin: 0 auto;
							display: flex;
							justify-content: space-between;
							align-items: center;
							margin-top: 1.2rem;

							p {
								font-size: 1.5rem; 
								line-height: 2rem;
								padding: 0.5rem 0.88rem;
								background: #fff;
								border-radius: 8px;
								align-self: center;

							}
						}
					}
				}
			}

			.section__actions {
				margin-top: 3rem;
				display: flex;
				justify-content: center;
			}
		}
	}

	&--testimonials {

		.shell {
			display: flex;
			justify-content: space-between;
			position: relative;
			padding-top: 10.5rem;
			padding-bottom: 9rem;

			@media(max-width:$responsive-sm) {
				flex-direction: column;
				align-items: center;
				padding-top: 2rem;
				padding-bottom: 2rem;
			}	/* 1023px */
		}

		.section__content {

			@media(max-width:$responsive-sm) {
				width: 88%;
				margin: auto;
				margin-top: 15%;
				text-align: center;
			}	/* 1023px */
			
			@media(max-width:$responsive-xxs) {
				width: 88%;
				margin: auto;
				margin-top: 15%;
				text-align: left;
			}	/* 479px */

			.section__head {
				@media(max-width:$responsive-sm) {
					text-align: center;
					width: 100%;
					margin: auto;
				}	/* 1023px */

				@media(max-width:$responsive-xxs) {
				text-align: left;
			}	/* 479px */

			}

			h2 {
				@media(max-width:$responsive-sm) {
					font-size: 2.5rem; 
					line-height: 3rem;
				}	/* 1023 */
			}
		}

		.section__images {
			position: absolute;
			top: 16.9%;
			left: 20.8%;

			@media(max-width:$responsive-sm) {
				left: 40%;
			}	/* 1023px */

			& img:first-child {
				position: absolute;
				top: 365%;
				left: 54.1%;
			}
				
			& img:nth-child(2) {
				position: relative;
				z-index: -2;
			}

			& img:nth-child(3) {
				position: absolute;
				top: 121%;
				left: -36%;
				z-index: -2;
			}

			& span:first-of-type {
				position: absolute;
				top: 792%;
				left: -45%;
			}

			& span:nth-of-type(2) {
				position: absolute;
				top: 497.5%;
				left: 50.5%;
			}
		}

		.slider {
			width: 49%;
			max-width: 570px;

			@media(max-width:$responsive-sm) {
				min-width: 320px;
			}	/* 1023px */
		}

		.slide {
			background: #FDF0E9;
			padding: 3rem 3rem 4rem 3rem;
			border-radius: 8px;

			.slide__content {

				.slide__head {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					margin-bottom: 1.38rem;

				}

				.slide__body {
					margin-bottom: 2.88rem;
					p {
						font-size: 1.25rem; 
						line-height: 2rem;
					}
				}
			}
		}

		.section__content {
			margin-top: 4.13rem;

			.section__head {
				max-width: 360px;
			}
		}
	}

	&--features {
		padding-top: 8.69rem;
		padding-bottom: 8.25rem;

		.shell {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media(max-width:$responsive-sm) {
				flex-direction: column;
			}	/* 1023px */
		}

		.section__content {
			margin-top: 4.38rem;

			@media(max-width:$responsive-sm) {
				width: 100%;
				text-align: center;
			}	/* 1023px */

			@media(max-width:$responsive-xxs) {
				width: 100%;
				text-align: left;
			}	/* 479px */			

			h2 {
				max-width: 354px;

				@media(max-width:$responsive-sm) {
					max-width: 100%;
					font-size: 2.5rem; 
				}	/* 1023px */
			}
		}

		.section__aside {
			width: 49%;
			max-width: 570px;

			@media(max-width:$responsive-xs) {
				width: 100%;
				max-width: 332px;

			}	/* 767px */

			.section__images {
				position: relative;
				margin-top: 1.31rem;
				margin-left: 18.88rem;

				@media(max-width:$responsive-xs) {
					margin-left: 10rem;
				}	/* 767px */

				& img:first-child {
					position: absolute;
					top: 985%;
					left: -140%;
					z-index: -1
				}				

				& img:nth-child(3) {
					position: absolute;
					top: 258%;
					left: 87%;
					z-index: 1;
				}

				& span:first-of-type {
					position: absolute;
					top: 500%;
					left: -115%;
				}

				& span:nth-of-type(2) {
					position: absolute;
					top: 785%;
					left: 47.5%;
				}
			}

			.features {
				display: flex;
				flex-direction: column;
				list-style: none;
				margin-top: -1.25rem;

				.feature {
					display: flex;	
					align-items: center;
					justify-content: center;	
					padding: 32px;	

					@media(max-width:$responsive-xs) {
								flex-direction: column;
								align-items: flex-start;
								justify-content: center;
								min-width: 332px;
							}	/* 767px */		

					.feature__content {
						width: 71%;

						@media(max-width:$responsive-xs) {
							width: 100%;
						}	/* 767px */

						p {
							color: #707070;
							line-height: 2rem;
						}

						h5 {
							font-weight: 400; 
							margin-bottom: 0.31rem;
						}
					}

					.feature__image {
						margin-right: 0.94rem;

						
					}

					&:first-child {
						background: #FDF0E9;
						border-radius: 8px;
						overflow: visible;
						margin-bottom: 1rem;
						position: relative;

						img {
							background: #6483F6;
							padding: 32px;
							border-radius: 50%;

						}
					}

					&:nth-child(2) {
						background: #FACE55;
						border-radius: 8px;
						margin-bottom: 1rem;

						img {
							background: #F07867;
							padding: 32px;
							border-radius: 50%;
						}
					}

					&:last-child {
						background: #FDF0E9;
						border-radius: 8px;

						img {
							background: #EEA1E2;
							padding: 32px;
							border-radius: 50%;
						}
					}
				}
			}
		}
	}

	&--pricing {
		padding-top: 11.56rem;
		padding-bottom: 5rem;

		@media(max-width:$responsive-sm) {
			padding-top: 2.56rem;
			padding-bottom: 1rem;
		}	/* 1023px */

		.shell {
			display: flex;
			justify-content: space-between;

			@media(max-width:$responsive-sm) {
				flex-direction: column;
			}	/* 1023px */
		}

		.section__plans {
			width: 46%;

			.section__images {
				position: relative;
				width: 100%;
				margin-left: 19.56rem;

				& img:first-child {
					position: absolute;
					top: 917%;
					left: -60%;
					z-index: -1;
				}

				& img:nth-child(3) {
					position: absolute;
					background: #F07867;
					padding: 48px 37px;
					border-radius: 8px;
					top: 544%;
					left:16%;
					z-index: 2;
				}

				& img:nth-child(4) {
					position: absolute;
					top: 112%;
					left: -45%;
				}

				& img:nth-child(5) {
					position: absolute;
					top: 256%;
					left: 25%;
					z-index: 10;
				}

				& img:nth-child(6) {
					position: absolute;
					top: 110%;
					left: 12.4%;
					z-index: 10;
				}

				& img:nth-child(7) {
					position: absolute;
					top: 110%;
					left: 17%;
					z-index: 10;
				}

				& img:nth-child(8) {
					position: absolute;
					top: 110%;
					left: 21.1%;
					z-index: 10;
				}
			}

			.section__price {
				max-width: 370px;
				background: #FDF0E9;
				border-radius: 8px;
				padding-top: 7.19rem;
				padding-left: 4.56rem;
				padding-bottom: 3rem;
				position: relative;
				margin-left: 6.25rem;
				margin-top: -1.5rem;

				@media(max-width:$responsive-sm) {
					min-width: 361px;
				}	/* 1023px */

				@media(max-width:$responsive-xs) {
					max-width: 200px;
				}	/* 767px */

				@media(max-width:$responsive-xs) {
					margin-left: 2rem;
				}	/* 767px */

				.section__head {
					display: flex;
					align-items: center;
					justify-content: space-around;
					margin-bottom: 5.6rem;
					margin-left: 38px;

					@media(max-width:$responsive-xs) {
						padding-right: 110px;
					}	/* 767px */

					.section__amount {
						background:#6483F6;
						border-radius: 50%;
						padding: 2.75rem 1.81rem;
						position: absolute;
						left: -26.9%;
						top: 14%;

						p {
							font-size: 3.5rem; 
							line-height: 4rem;
							color: #fff;
						}
					}

					.section__period {
						text-align: right;

						h4 {
							font-weight: 400;  
							margin-bottom: -0.06rem;
						}
					}
				}
			}
			.section__actions {
				margin-top: 2.44rem;
				margin-left: -1.5rem;
			}
		}

		.section__content {
			margin-top: 5.44rem;

			@media(max-width:$responsive-sm) {
				width: 88%;
				margin: auto;
				margin-top: 15%;
				text-align: center;
			}	/* 1023px */
			
			@media(max-width:$responsive-xxs) {
				width: 88%;
				margin: auto;
				margin-top: 15%;
				text-align: left;
			}	/* 479px */

			.section__head {
				h2 {
				@media(max-width:$responsive-sm) {
					font-size: 2.5rem; 
					line-height: 3rem;
				}	/* 1023px */
			}
			}
		}
	}

	&--articles {
		padding-top: 10.65rem;
		padding-bottom: 5rem;

		.section__content{
			width: 100%;

			.section__head {
				text-align: center;
				margin: 0 auto;
				width: 100%;
				max-width: 470px;
				margin-bottom: 2.19rem;

				span p{
					font-size: 1rem;
					line-height: 2rem;
					color: #707070;
					text-transform: none;
					font-weight: 400; 
					margin-top: 1.13rem;		
				}
			}

			.section__body {
				.posts {
					display: flex;
					list-style: none;
					justify-content: space-between;
					flex-wrap: wrap;

					.post {
						width: 31.6%;
						border-radius: 8px;
						overflow: hidden;

						@media(max-width:$responsive-sm) {
							width: 100%;
						max-width: 370px;
						margin: auto;
						margin-bottom: 2rem;
						}	/* 1023px */

						.post__image {
							background-image: url("../css/images/temp/news-1.png"); ;
							background-repeat: no-repeat;
							background-size: auto;
							box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
							padding: 2.25rem 17.44rem 12.75rem 2rem;

							p {
								font-size: 0.75rem; 
								line-height: 1rem;
								text-transform: uppercase;
								color: #fff;
								font-weight: 700; 
								margin-top: 0;
							}
						}

						.post__image--2 {
							background-image: url("../css/images/temp/news-2.png"); ;
							background-repeat: no-repeat;
							background-size: auto;
							box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
						}

						.post__image--3 {
							background-image: url("../css/images/temp/news-3.png"); ;
							background-repeat: no-repeat;
							background-size: auto;
							box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
						}

						.post__content {
							background: #FDF0E9;
							width: 100%;
							padding-top: 2.56rem;

							.post__head {
								width: 83%;
								margin: 0 auto;

								h5 {
									font-weight: 400; 
								}
							}

							.post__body{
								width: 83%;
								display: flex;
								justify-content: space-between;
								align-items: center;
								margin: auto;
								padding-bottom: 2.6rem;
								margin-top: 1rem;

								.post__author{
									max-width: 130px;
									display: flex;
									justify-content: space-between;
									align-items: center;

									p {
										margin-top: 0;
									}
								}

								.post__date{

									display: flex;
									align-items: center;

									p {
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}

			.section__actions {
				text-align: center;
				margin-top: 3.75rem;

				@media(max-width:$responsive-xs) {
					white-space: nowrap;
				}	/* 767px */
			}
		}
	}
}
